.navBar{
  display: flex;
  justify-content: space-evenly;
 }

.navBar a{
  font-size: 30px;
  color: white;
  font-family: "Send Flowers";
  font-weight: 400;
  font-style: normal;
}
 .navBar:active{
  color:  #87B38D
} 
.send-flowers-regular {
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: normal;
}
