.navBar{
  display: flex;
  justify-content: space-evenly;
  background-color: #2E294E;

}
body{
    background-color: #A3A5C3;
}
.navBar a{
  font-size: 30px;
  color: white;
  font-family: "Send Flowers";
  font-weight: 400;
  font-style: normal;
}

.nav active {
   color: orange
}
 /*Gallary Images*/

.container img{
       height:200px;
  width:100%;
   object-fit: cover;
 }
 
 /*Gallary*/

.container{
 
display:flex;
   justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
 /*About Me Text*/
 .aboutMe{
  top:20%;
  left: 40%;
  position: absolute;
    letter-spacing: 4px;

 text-align: center;
font-size: 20px;
justify-content: center;
  color: white;
background-color: #2e294e6b;
 transition: .25s ease-in;
 }
.aboutMe:hover{
  letter-spacing: 7px;
 text-align: center;  
 top:20%;
 font-size: 24px;
background-color: #2e294e6b;
   color: white;
position: absolute;
   cursor: default;
   transition: .5s ease-out;

}
 

.navBar a:hover{
    color: #87B38D;
 }
.send-flowers-regular {
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: normal;
}
