.navBar{
  display: flex;
  justify-content: space-evenly;
}
body{
  font-family: "Intel One Mono";
}
.navBar a{
  font-size: 21px;
  text-decoration: none;
   color: white;
  font-family: "Intel One Mono";
  font-weight: 400;
  font-style: normal;
}
.intel-one-regular {
  font-family: "Intel One Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

 .send-flowers-regular {
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: normal;
}
ul {
list-style-image:url(assets/star.svg);
}
.photos{
display: flex;
flex-direction: row;
}
.photos img {
       height:200px;
  width:100%;
   object-fit:cover;
}
