.navBar{
  display: flex;
  justify-content: space-evenly;
}

.navBar a{
  font-size: 30px;
  font-family: "Send Flowers";
  font-weight: 400;
  font-style: normal;
}

.navBar a:hover{

 }
.send-flowers-regular {
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: normal;
}
ul {
list-style-image:url(assets/star.svg);
}
.photos{
display: flex;
flex-direction: row;
}
.photos img {
       height:200px;
  width:100%;
   object-fit:cover;
}