body{
  font-family: "Intel One Mono";
}
.intel-one-regular {
  font-family: "Intel One Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


.navBar{
  display: flex;
  justify-content: space-evenly;
 }

.navBar a{
  font-size: 21px;
  text-decoration: none;
   color: white;
  font-family: "Intel One Mono";
  font-weight: 400;
  font-style: normal;
}
 .navBar:active{
  color:  #87B38D
} 
.send-flowers-regular {
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: normal;
}


  /*phones*/
 @media only screen and (m-width: 600px){

.gallary img{
       height:150px;
  width: 100%;
   object-fit:scale-down;
 }
 
 /*Gallary*/

.gallary{
 
display:flex;
   justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
 }

   /*phones*/
 @media only screen and (max-width: 600px){

.gallary img{
       height:150px;
  width: 100%;
   object-fit:scale-down;
 }
 
 /*Gallary*/

.gallary{
 
display:flex;
   justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
 }

 /*tablets, large phones*/
 @media only screen and (min-width: 600px){

.gallary img{
       height:150px;
  width: 100%;
   object-fit:scale-down;
 }
 
 /*Gallary*/

.gallary{
 
display:flex;
   justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
 }

  /*laptops*/
  @media only screen and (min-width: 992px){
.gallary img{
       height:150px;
  width: 100%;
   object-fit:scale-down;
 }
 
 /*Gallary*/

.gallary{
 
display:flex;
   justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
 }

