 body{
      font-family: "Intel One Mono";
    min-height: 100vh;
 display: grid;
 grid-template-rows: auto 1fr auto;

    background-color: #A3A5C3; 
    
 }
 .background{
    background-color: #A3A5C3; 

 }
     .bd-placeholder-img {
      object-fit: contain;
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
