html {
  height: 100%;
  width: 100%;
}
.navBar{
  display: flex;
  justify-content: space-evenly;
  background-color: #2E294E;

}
body{
    font-family: "Intel One Mono";

    background-color: #A3A5C3;
}
a{
color:rgb(154, 16, 182)
}
a:hover{
color:rgb(179, 74, 200)

}
.blurb{
   font-size: 24px;
   color: white;
  background-color: #2E294E;
}
.navBar a{
  font-size: 21px;
  text-decoration: none;
   color: white;
  font-family: "Intel One Mono";
  font-weight: 400;
  font-style: normal;
}

  /*Gallary Images*/

.container img{
       height:200px;
  width:100%;
   object-fit:cover;
 }
 footer{
  text-align: center;
 }
 /*Gallary*/
.logoContainer{
 
display:flex;
   justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
.logoContainer img{
  padding-right: 20px;
}

.container{
 
display:flex;
   justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
 /*About Me Text*/

  /*phones*/
 @media only screen and (max-width: 600px){
 .aboutMe{
  top:12%;
  left: 30%;
  position: absolute;
    letter-spacing: 4px;

 text-align: center;
font-size: 20px;
justify-content: center;
  color: white;
background-color: #2e294e6b;
 transition: .25s ease-in;
 }
.aboutMe:hover{
  letter-spacing: 7px;
 text-align: center;  
  background-color: #2e294e6b;
   color: white;
position: absolute;
   cursor: default;
   transition: .5s ease-out;

}
 }

 /*tablets, large*/
 @media only screen and (min-width: 600px){

 .aboutMe{
  top:20%;
  left: 35%;
  position: absolute;
    letter-spacing: 4px;

 text-align: center;
font-size: 20px;
justify-content: center;
  color: white;
background-color: #2e294e6b;
 transition: .25s ease-in;
 }
.aboutMe:hover{
  letter-spacing: 7px;
 text-align: center;  
 top:20%;
 font-size: 24px;
background-color: #2e294e6b;
   color: white;
position: absolute;
   cursor: default;
   transition: .5s ease-out;

}
 

 }
 /*laptops*/
  @media only screen and (min-width: 992px){
   .aboutMe{
  top:15%;
  left: 45%;
  position: absolute;
    letter-spacing: 4px;

 text-align: center;
font-size: 20px;
justify-content: center;
  color: white;
background-color: #2e294e6b;
 transition: .25s ease-in;
 }
.aboutMe:hover{
  letter-spacing: 7px;
 text-align: center;  
  top:15%;
  left: 45%;
 background-color: #2e294e6b;
   color: white;
position: absolute;
   cursor: default;
   transition: .5s ease-out;

}
 

 }

 
.navBar a:hover{
    color: #8cbae3;
 }
.send-flowers-regular {
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: normal;
}

.intel-one-regular {
  font-family: "Intel One Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

